# Ignore everything by default
*

# Whitelist specific folders and their contents
!trackers/
!trackers/**
!utils/
!utils/**
!data/
!data/**
!runs/
!runs/**
!jetson/
!jetson/**
!notebooks/
!labels/
!labels/**

# Whitelist specific root-level files
!CHANGELOG.md
!README.md
!requirements.txt

# Re-ignore specific subfolders (even though runs/ is whitelisted)
runs/detect/track*
runs/detect/val*

# Ignore virtual environment and Python cache
.venv
*.pyc
